<div class="header-container">
  <div class="logo-container">
    <img class="logo" src="../../../assets/images/logo_elca.png" alt="" />
    <p class="logo-title">{{ "title-header" | translate }}</p>
  </div>

  <div style="display: flex; gap: 100px">
    <div style="display: flex; align-items: center">
      <p
        (click)="setLang('en')"
        [ngClass]="{ 'select-language': userLang !== 'en' }"
      >
        EN
      </p>
      |
      <p
        (click)="setLang('fr')"
        [ngClass]="{ 'select-language': userLang !== 'fr' }"
      >
        FR
      </p>
    </div>
    <nav style="display: flex; align-items: center">
      <ul>
        <li>
          <a routerLink="/">{{ "help" | translate }}</a>
        </li>
        <li (click)="showDialog()" style="cursor: pointer">
          <a routerLink="/about">{{ "logout" | translate }}</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
