<div class="sidebar-container">
  <a
    [ngClass]="{ active: action === 'list' }"
    [routerLink]="['project/list']"
    class="title"
    >{{ title | translate | titlecase }} {{ "list" | translate }}</a
  >
  <nav>
    <h3 class="status">{{ action | translate | titlecase }}</h3>
    <ul>
      <li>
        <a
          [ngClass]="{ active: action === 'new' }"
          [routerLink]="['project/new']"
          >{{ "project" | translate }}</a
        >
      </li>
      <li>
        <a>{{ "customer" | translate }}</a>
      </li>
      <li>
        <a>{{ "supplier" | translate }}</a>
      </li>
    </ul>
  </nav>
</div>
