.confirmation-dialog-content {
  padding: 20px;
  text-align: center;

  .confirmation-buttons {
    margin-top: 20px;
  }

  .p-button {
    margin-right: 10px;
  }

  .p-button-cancel {
    background-color: #b9b9b9;
  }

  .p-button-info {
    background-color: #4f68d9;
    border-color: #4f6fd9;
  }
}
